<app-icons></app-icons>

<div class="consumer-content">
  <h3>Bzg components</h3>
  <span>
    <strong>1. </strong>Comportamiento y variabilidad  en componente <strong>bzg-header</strong>
  </span>
</div>


<bzg-header [srcLogo]="'#logo-bzg'"
            [srcIcon]="'#camera'"
            [tagText]="'My App'">
  <bzg-user [email]="'scott.austin@mail.com'"
            [fullName]="'Scott Austin'">
  </bzg-user>
</bzg-header>


<bzg-header [srcLogo]="'#logo-bzg'"
            [srcIcon]="'#camera'"
            [tagText]="'My App'"
            [styleConfig]="{
              'color-header-primary': '#edf4aa',
              'color-header-secondary': '#f44d74',
              'color-header-fill': '#ffffff',
              'color-icon-header-primary': '#b038cb',
              'color-icon-header-secondary': '#cb5849',
              'color-icon-header-fill': '#ffffff'}">
  <bzg-user [email]="'scott.austin@mail.com'"
            [fullName]="'Scott Austin'">
  </bzg-user>
</bzg-header>


<bzg-header [srcLogo]="'#logo-bzg'"
            [srcIcon]="'#connection'"
            [tagText]="'My App'"
            [styleConfig]="{
              'color-header-primary': '#edf4aa',
              'color-header-secondary': '#f44d74',
              'color-header-fill': '#ffffff',
              'color-icon-header-primary': '#b038cb',
              'color-icon-header-secondary': '#cb5849',
              'color-icon-header-fill': '#ffffff'}">
  <bzg-user [email]="'scott.austin@mail.com'"
            [fullName]="'Scott Austin'">
  </bzg-user>
</bzg-header>


<bzg-header [srcLogo]="'#logo-bzg'"
            [srcIcon]="'#camera'"
            [tagText]="'My App'"
            [styleConfig]="{
              'color-header-primary': '#3C515D',
              'color-header-secondary': '#374956',
              'color-header-fill': '#ffffff',
              'color-icon-header-primary': '#C31C2C',
              'color-icon-header-secondary': '#011B21',
              'color-icon-header-fill': '#ffffff'}">
  <bzg-user [email]="'scott.austin@mail.com'"
            [fullName]="'Scott Austin'">
  </bzg-user>
</bzg-header>


<bzg-header [srcLogo]="'#logo-bzg'"
            [srcIcon]="'#browser'"
            [tagText]="'My App2'"
            [styleConfig]="{'color-icon-header-primary': '#c8d448','color-icon-header-secondary': '#799532','color-icon-header-fill': '#ffffff','color-header-primary': '#647815','color-header-secondary': '#647815','color-header-fill': '#ffffff'}">
  <bzg-user [email]="'charles.huffan@mail.com'"
            [fullName]="'Charles John Huffam Dickens'"
            [styleConfig]='{"color-user-info": "#ffffff","color-avatar": "#153d51","color-avatar-background": "#678934"}'>
    <ul>
      <li>1.sds</li>
      <li>2.sds</li>
    </ul>
  </bzg-user>
</bzg-header>


<div class="consumer-content">
  <span>
    <strong>2. </strong>Comportamiento y variabilidad  en componente <strong>bzg-masonry</strong>
  </span>
</div>

<div class="consumer-content">
  <div class="consumer-content__actions">
    <bzg-button-secondary (click)="addBrick()">Add brick</bzg-button-secondary>
  </div>

  <bzg-masonry class="consumer-grid">
    <bzg-masonry-brick class="consumer-grid__brick" *ngFor="let brick of bricks">{{brick.title}}</bzg-masonry-brick>
  </bzg-masonry>
</div>


<div class="consumer-content">
  <span>
    <strong>3. </strong>Comportamiento y variabilidad  en componente <strong>bzg-modal</strong>
  </span>
</div>


<div class="consumer-content">
  <div class="consumer-content__actions">
    <bzg-button-primary (click)="openModal()">Open Modal</bzg-button-primary>
  </div>
</div>

<bzg-modal title="Este es un modal de prueba"
           [showModal]="showModal"
           (cancel)="closeModal()">
  <div class="consumer-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi
      consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <bzg-button-secondary (click)="closeModal()">Close</bzg-button-secondary>
  </div>
</bzg-modal>
