.brick {
  background-color: rgba(156, 151, 155, 0.2);
  width: 100px;
  border-radius: 4px;
  height: 80px;
  margin: 5px;
  padding: 15px;
}

.consumer-content {
  margin: 16px;
  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
