.consumer-content {
  margin: 16px;
  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
.consumer-list-content{
  color: #7d7d7d;
}

.consumer-grid {
  margin: 0 -5px;
  &__brick {
    background-color: rgba(156, 151, 155, 0.2);
    width: 100px;
    border-radius: 4px;
    height: 80px;
    margin: 5px;
    padding: 15px;
  }
}

.brick--a{
  height: 60px;
}
.brick--b{
  height: 40px;
}
.brick--c{
  height: 200px;
}
